body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
}

/* index */

#navbar{
    display:flex;
    align-items: center;
    width:100%;
    height: 70px;
    background-color: rgb(56, 94, 48);
}

#navbar .item {
    text-decoration: None;
    color: #fff;
    font-size: 30px;
    margin-left: 40px;
    height:40px;
    object-fit: fill;
}

#profilepic {
    margin-top: 20px;
    width: 30%; 
    height: 200%;
    overflow: hidden;
    
}

#profilepic img {
    border-radius: 50%;
    margin-left:10%;
    border: 5px dashed rgb(56, 94, 48);
    width: 45%; 
    height: 90%; 
    object-fit: contain; 
}

#link {
    color: #000000;
    font-size: 20px;
}

/* cv */

#cv {
    justify-content: center;
    margin-top: 20px;
    margin-left: 5%;
    display: flex;
    align-items: center;
}