body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
}

/* index */

#main {
    display: flex;
    margin-left: 5%;

}

#navbar{
    padding-left: 5%;
    display:flex;
    align-items: center;
    width: auto;
    min-height: 10px;
    background-color: rgba(56, 94, 48, 0.808);
}

#navbar .item {
    text-decoration: None;
    color: #fff;
    font-size: 30px;
    margin-left: 60px;
    height:40px;
    object-fit: fill;
}

#navbar .item::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: white;
    display: block;
    transition: .5s ease-in-out;
}

#navbar .item:hover::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    transition: .5s ease-in-out;
}

#presentation {
    margin-left: 1%;
    margin-top: 1%;
    min-height: 200px;
    max-height: 450px;
    background-color: rgba(77, 121, 69, 0.212);
    border-radius: 10px;
}

#presentation .item {
    margin: 0.3em;;
    text-align: center;
}

#profilepic {
    margin-inline: auto;
    margin-top: 20px;
    min-width: 200px; 
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
    
}

#profilepic img {
    display:block;
    border-radius: 50%;
    width: 90%; 
    height: 90%; 
    object-fit: contain; 
    margin-inline:auto;
}

#links {
    margin-inline: auto;
    display: flex;
    justify-content:space-around;
}

#links #link {
    color: #000000;
    font-size: 20px;
    text-decoration: none;
}


#links #link::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: rgb(0, 0, 0);
    display: block;
    transition: .5s ease-in-out;
}

#links #link:hover::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: block;
    transition: .5s ease-in-out;
}

#content {
    border-radius: 10px;
    margin-top:20px;
    min-width:50%;
    max-width:60%;
    height:80vh;
    background-color: rgba(177, 177, 177, 0);
    overflow-y: auto;
}

#content #post {
    border-radius:2px;
    width:94%;
    min-height: 50px;
    margin-inline: auto;
    padding: 5px 5px 5px 5px;
    background-color: rgba(161, 159, 155, 0.082);
    font-size: 25px;
}

.vertical-row-left {
    margin-top:20px;
    margin-left: 5%;
    height:80vh;
    width:1px;
    background-color: black
   }

.vertical-row-right {
    margin-top:20px;
    height:80vh;
    width:1px;
    background-color: black
}

/* blogg */

#blogg-content {
    border-radius: 10px;
    margin-top:20px;
    margin-inline: auto;
    min-width:50%;
    max-width:90%;
    height:80vh;
    background-color: rgba(177, 177, 177, 0.144);
    overflow-y: auto;
}

#blogg-content #post {
    border-radius:10px;
    width:94%;
    min-height: 50px;
    margin-inline: auto;
    margin-top:20px;
    padding: 5px 5px 5px 5px;
    background-color: rgba(161, 159, 155, 0.377);
}



/* cv */

#cv {
    justify-content: center;
    margin-top: 20px;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

/* projekt */
.headline {
    font-size: 30px;
    color: #000000;
}

.projekt {
    display: flex;
    margin-left:5%;
    margin-right:10%;
    flex-direction: column;
    font-size: 30px;
    color: #000000;
    background-color: rgba(177, 177, 177, 0.144);
    padding: 10px;
    border-radius:10px;
}

.projekt a{
    font-size: 30px;
    color: #000000;
}

.projekt img{
    margin-top: 10px;
    margin-left: 10px;
    max-width: 400px;
    min-height: 200px;
}

/* projekt */
.bankapp_main img {
    margin-top: 10px;
    margin-left: 10px;
    max-width: 500px;
    min-height: 200px;
    border: 2px solid;
}