<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swedish word of the day</title>
</head>
<body>
    Swedish word of the day is:
    Macka
    Sandwich
    Macka
    Sandwich
    Let me use it in a sentance:
    -Oj vilken fin macka du har!
    -Tack jag köpte den på pressbyrån
    -Wow, what a nice sandwich u have!
    -Thanks, i bought at at pressbyrån!
    Thank you for coming to swedish word of the day, come back tomorrow!
</body>
</html>